@charset "UTF-8";

@font-face {
  font-family: "popin-black";
  src: url("../assets/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "lato-bold";
  src: url("../assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato-reg";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato-lite";
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "coco-bold";
  src: url("../assets/fonts/CocogooseBold.ttf");
}

@font-face {
  font-family: "coco-lite";
  src: url("../assets/fonts/CocogooseLight.ttf");
}

@font-face {
  font-family: "coco-semi";
  src: url("../assets/fonts/CocogooseSemi.ttf");
}

body {
  width: 100%;
  height: max-content;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 0;
  z-index: 10;
  overflow: hidden;
  transition: all 500ms ease;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  padding: 10px;
  margin: 20px 10px;
  width: 80%;
  border-bottom: rgba(39, 42, 49, 0.3) 1px solid;
}

.navbar a {
  text-decoration: none;
  text-align: left;
  font-size: 30px;
  color: rgba(39, 42, 49, 0.8);
}

footer img {
  width: 80%;
  filter: grayscale(100%);
}

.nav-button img {
  height: 50px;
  width: 40px;
  opacity: 0.5;
  padding: 10px;
}

.nav-menu,
.nav-items {
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 10px;
  height: max-content;
  transition: all 0.5s ease-in;
}

.nav-social,
.nav-menu {
  display: none;
  opacity: 0;
}

.nav-logo {
  width: 75%;
  padding: 0;
  margin: 15px 15px;
  text-align: center;
}

.event {
  width: max-content;
  padding: 5px 12px;
  border: #ec5242 3px solid;
  margin: 10px;
}

.event > a {
  color: #ec5242;
  font-size: 24px;
}

/* welcome screen style */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: max-content;
  margin: 0;
  padding: 75px 5% 20px;
  background-image: url("../images/bg-welcome-about.jpg");
  background-color: rgba(101, 101, 101, 0.5);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 200% 110%;
}

.welcome .welcome-message {
  display: block;
  font-family: "coco-lite", Arial, Helvetica, sans-serif;
  color: #ec5242;
  font-size: 1.2em;
  padding: 0;
  text-align: center;
}

hr {
  margin: 30px 0;
  opacity: 0.3;
}

.welcome .welcome-title {
  font-family: "coco-bold", Arial, Helvetica, sans-serif;
  color: #ec5242;
  font-size: 26px;
  transform: scale(1, 1.3);
  line-height: 1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
  margin: 0;
}

footer div {
  flex: 1;
}

.creative h2 hr {
  width: 10%;
  border: #ec5242 1px solid;
  margin: 5px auto;
}

.past-events h3 hr {
  margin: 10px auto;
  width: 10%;
  border: #ec5242 1px solid;
}

.partners h3 hr {
  margin: 10px auto;
  width: 10%;
  border: #ec5242 1px solid;
}

.partners div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.welcome .welcome-title hr {
  display: none;
}

.welcome .welcome-title span {
  font-family: "popin-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.welcome .welcome-desc {
  font-family: "coco-bold", Arial, Helvetica, sans-serif;
  font-size: 0.55em;
  width: 99%;
  padding: 10px 5px;
  margin: 30px 0;
  line-height: 2;
  color: #656565;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  text-align: center;
}

.welcome .address {
  font-family: "lato-bold", "Arial Narrow Bold", sans-serif, "Helvetica Neue", Helvetica;
  text-align: center;
  opacity: 0.5;
  font-size: 0.8em;
  margin: 0 auto;
}

.welcome a {
  font-family: "lato-bold", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  text-decoration: none;
  border-bottom: #656565 1px solid;
  text-align: center;
  color: #656565;
  margin: 5px;
}

footer div p {
  font-size: 0.7em;
  opacity: 0.6;
}

.creative {
  font-family: "lato-semi", "Arial Narrow Bold", sans-serif, "Helvetica Neue", Helvetica;
  background-color: #f5f5f5;
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
  opacity: 0.6;
}

.creative h2 {
  font-size: 1.2em;
}

.creative p {
  font-size: 0.8em;
}

.about-logo {
  background-color: #f5f5f5;
}

.about-logo div {
  width: 90%;
  margin: auto;
  border: rgba(101, 101, 101, 0.3) 1px solid;
}

.about-logo div img {
  width: 80%;
  margin: 15px 10%;
}

.past-events {
  font-family: "lato-bold", "Arial Narrow Bold", sans-serif, "Helvetica Neue", Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.past-events h3 {
  text-align: center;
  margin-bottom: 0;
}

.past-events p {
  margin: 10px;
  padding: 0 20px;
  font-size: 0.8em;
  text-align: center;
}

.past-events .bgimage-1st {
  background-image: url("../images/past2022.jpg");
}

.past-events .bgimage-2nd {
  background-image: url("../images/past2021.jpg");
}

.past-events div {
  display: flex;
  width: 85vmin;
  height: 50vmin;
  margin: 10px 0;
  padding: 0;
  background-position: top left;
  background-size: cover;
}

.past-events div div {
  display: block;
  margin: 0;
  background-color: rgba(125, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  color: #f5f5f5;
}

.past-events div div h2 {
  font-size: 3em;
  margin-bottom: 0;
}

.past-events div div p {
  font-size: 0.8em;
}

.partners {
  font-family: "lato-bold", "Arial Narrow Bold", sans-serif, "Helvetica Neue", Helvetica;
  width: 94%;
  height: 30%;
  margin: 4% 0;
  padding: 2%;
  background-color: #454545;
  color: #f5f5f5;
}

.partners h3 {
  text-align: center;
}

.partners div img {
  max-height: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: max-content;
  padding: 2%;
}

@media all and (min-width: 768px) {
  .navbar,
  .nav-social,
  .nav-menu,
  .nav-logo,
  .nav-items,
  .nav-event {
    display: flex;
    opacity: 1;
  }

  .nav-button {
    display: none;
  }

  .navbar {
    font-family: "coco-semi", Arial, Helvetica, sans-serif;
    position: fixed;
    flex-direction: column;
    height: 85px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  footer div {
    display: flex;
    width: max-content;
    margin: 0;
    padding: 0;
  }

  footer div img {
    width: 60%;
    margin-left: 30%;
    filter: brightness(80);
  }

  footer div p {
    font-size: 0.8em;
    opacity: 0.6;
    width: 60%;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .navbar .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 30px;
    width: 80%;
    padding: 0 10%;
    margin: 0;
    background-color: #272a31;
    color: #f0ffff;
  }

  .navbar .nav-social li {
    width: max-content;
    padding: 5px;
    margin: 0 5px;
  }

  .welcome a {
    font-size: 1em;
    margin-bottom: 35px;
  }

  .navbar .nav-social li a {
    font-size: 0.7em;
    color: #f0ffff;
    opacity: 0.7;
  }

  .navbar .nav-social li img {
    height: 15px;
    filter: invert(9);
  }

  .navbar .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 55px;
    margin: 0;
    padding: 0 10%;
    background-color: #fff;
  }

  .navbar .nav-menu .event a {
    font-size: 0.7em;
    text-align: center;
  }

  .navbar .nav-menu .nav-items {
    display: flex;
    flex-direction: row;
  }

  .navbar .nav-menu .nav-items li {
    margin: 5px 10px;
    padding: 10px;
    border: none;
  }

  .navbar .nav-menu .nav-items li a {
    font-size: 0.8em;
  }

  .navbar .nav-menu .nav-logo a img {
    height: 40px;
  }

  .navbar .nav-menu .event {
    min-width: 150px;
    text-align: center;
  }

  .welcome {
    font-family: "lato-reg", Arial, Helvetica, sans-serif;
    background-image: url("../images/bg-welcom.jpg");
    background-size: 100%;
    background-position: center right;
  }

  .welcome .welcome-message {
    display: none;
  }

  .welcome .welcome-title {
    margin: 100px auto 20px;
    width: 70%;
    font-size: 3em;
  }

  .welcome hr {
    display: block;
    width: 5%;
    border: rgb(236, 82, 66) 1px solid;
    margin: auto;
  }

  .welcome .welcome-desc {
    font-size: 0.7em;
    width: 75%;
    padding: 25px 50px;
  }

  .welcome .welcome-desc::after {
    content: "who want to work with us on shared projects that advance the cause of the Commons,free culture and open knowledge So if you're active and engaged in the worlds of open content and knowledge -free software advocates, wikipedians, Open knowledge, galleries, libraries, museums, archives, governmentsand foundations, lawyers, and activists - we hope you'll consider joining us this year to build a stronger""more vibrant commons together";
  }

  .welcome .address {
    font-size: 1em;
    margin-top: 35px;
  }

  .welcome a::after {
    content: " >";
  }

  footer div p::after {
    content: "달리 정하지 않은 웹사이트의 모든 내용은 크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스에 따라 이용할 수 있습니다. 자세한 이용기능 내용과 허락조건은";
  }

  .creative h2 {
    font-size: 1.5em;
    margin: 20px auto;
  }

  .creative h2 hr {
    width: 3%;
  }

  .creative p {
    font-size: 0.9em;
    width: 60%;
    margin: 0 auto 25px;
  }

  .creative p::after {
    content: " software advocates, wikipedians, Open knowledge, galleries, libraries, museums, archives, governments and foundations, lawyers, and activists - we hope you'll consider joining us this year to build a stronger, more vibrant commons together";
  }

  .about-logo div {
    width: 50%;
  }

  .past-events p {
    width: 100%;
    font-size: 1em;
    margin-bottom: 25px;
  }

  .past-events {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .past-events div {
    width: 35vw;
    height: 20vw;
    margin: 20px 5px;
  }

  .past-events div div {
    width: 100%;
    margin: 0;
  }

  .past-events div div h2 {
    font-size: 4.5em;
  }

  .past-events div div p {
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }

  .past-events h3 {
    width: 100%;
    font-size: 2em;
  }

  .past-events h3 hr {
    width: 2%;
  }

  .partners {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 2% 5%;
    margin: 25px 0 0;
    background-color: #454545;
    color: #f5f5f5;
  }
}
