@media all and (min-width: 768px) {
  .navbar,
  .nav-social,
  .nav-menu,
  .nav-logo,
  .nav-items,
  .nav-event {
    display: flex;
    opacity: 1;
  }

  .nav-button {
    display: none;
  }

  .navbar {
    font-family: "coco-semi", Arial, Helvetica, sans-serif;
    position: fixed;
    flex-direction: column;
    height: 85px;
    width: 100%;
    margin: 0;
    padding: 0;

    .nav-social {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      height: 30px;
      width: 80%;
      padding: 0 10%;
      margin: 0;
      background-color: #272a31;
      color: #f0ffff;

      li {
        width: max-content;
        padding: 5px;
        margin: 0 5px;

        a {
          font-size: 0.7em;
          color: #f0ffff;
          opacity: 0.7;
        }

        img {
          height: 15px;
          filter: invert(9);
        }
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 55px;
      margin: 0;
      padding: 0 10%;
      background-color: #fff;

      .nav-items {
        display: flex;
        flex-direction: row;

        li {
          margin: 5px 10px;
          padding: 10px;
          border: none;

          a {
            font-size: 0.8em;
          }
        }
      }

      .nav-logo {
        a {
          img {
            height: 40px;
          }
        }
      }

      .event {
        min-width: 150px;
        text-align: center;

        a {
          font-size: 0.7em;
          text-align: center;
        }
      }
    }
  }

  // welcome screen
  .welcome {
    background-size: 100%;
    background-position: bottom right;
    padding: 15%;

    .welcome-message {
      margin: 5% 1%;
      font-size: 2em;
    }

    .welcome-title {
      margin: 0;
      width: 75%;
      font-size: 4em;
    }

    .welcome-desc {
      font-size: 0.8em;
      width: 60%;
    }

    h2 {
      margin: 1em 0 0;
      font-size: 2.5em;
    }

    .address {
      font-size: 1.5em;
    }
  }

  // main progame
  .main-pro {
    hr {
      width: 3%;
    }

    padding: 30px 0;

    .mainpro-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 25px auto;
      overflow: hidden;

      div {
        width: 15vw;
        height: 30vh;
        min-height: max-content;

        ul {
          flex-direction: column;
          justify-content: space-around;

          :nth-child(1) img {
            height: 50px;
            width: 50px;
            margin: 5px;
          }

          :nth-child(2) {
            width: 80%;
            text-align: center;

            h4 {
              padding: 0;
              margin: 0;
            }
          }

          :nth-child(3) {
            width: 90%;

            p {
              font-size: 0.8em;
              text-align: center;
            }
          }
        }
      }
    }

    button {
      background-color: transparent;
      text-decoration: underline;
      visibility: hidden;

      &::before {
        visibility: visible;
        content: 'SEE THE WHOLE PROGRAM';
        margin-left: calc(25%);
      }
    }
  }

  .speakers {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px auto;

    button {
      display: none;
    }

    hr {
      width: 5%;
      margin: 0 40% 20px;
    }

    h3 {
      width: 100%;
      text-align: center;
    }

    div {
      width: 35%;
    }
  }

  .partners {
    display: block;
    opacity: 1;
    font-family: "lato-bold", "Arial Narrow Bold", sans-serif, "Helvetica Neue", Helvetica;
    width: 100%;
    height: 30%;
    margin: 4% 0;
    padding: 2%;
    background-color: #454545;
    color: #f5f5f5;

    h3 {
      text-align: center;

      hr {
        margin: 10px auto;
        width: 10%;
        border: #ec5242 1px solid;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 15px;

      img {
        margin: 0 20px;
        max-height: 40px;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 2% 5%;
    margin: 25px 0;

    div {
      display: flex;
      width: max-content;
      margin: 0;
      padding: 0;

      img {
        width: 60%;
        margin-left: 30%;
        filter: grayscale(100%);
      }

      p {
        font-size: 0.8em;
        opacity: 0.6;
        width: 60%;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }
}
